<div class="regular-navigation">
  <%= link_to root_path do %>
    <h1 class="home"><span class="light">Flagrant</span> <span class="pop">Orange</span></h1>
  <% end %>
  <h2 class="link"><%= active_link_to "Music", music_path %></h2>
  <h2 class="link"><%= active_link_to "Shows", shows_path %></h2>
  <h2 class="link"><%= active_link_to "Contact", contact_path %></h2>
</div>
