@import "reset";
@import "global";
@import "mediaQueries";
@import "fonts";
@import "grid";
@import "hero";
@import "nav";
@import "sidebar";
@import "buttons";
@import "forms";
@import "footer";
@import "helpers";
@import "animations";

body {
  background-color: $color-pop;
}

.home {
  position: relative;
}

.home-image {
  width: 90vw;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  border: 3px solid $dark;
  display: block;
}

.navigation {
  position: absolute;
  top: 10%;
  left: 10%;
}

.light {
  color: $light;
}

.pop {
  color: $color-pop;
}

.link {
  color: $md-grey;
}

.link a:hover {
  color: $color-pop;
}

// [class*="counter"] span {
//   font-size: 25px;
//   position: absolute;
// }
