@import "reset";
@import "global";
@import "mediaQueries";
@import "fonts";
@import "grid";
@import "hero";
@import "nav";
@import "sidebar";
@import "buttons";
@import "forms";
@import "footer";
@import "helpers";
@import "animations";

body {
  background-color: $color-pop;
}

.home {
  position: relative;
}

.home-image {
  width: 90vw;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  border: 3px solid $dark;
  display: block;
}

.regular-image {
  width: 100%;
  border: 3px solid $dark;
}

.navigation {
  position: absolute;
  top: 10%;
  left: 10%;
}

.light {
  color: $light;
}

.pop {
  color: $color-pop;
}

.link {
  color: $md-grey;
}

.link a:hover {
  color: $color-pop;
}

.regular-navigation h2, .regular-navigation h1 {
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}

.regular-navigation .light {
  color: $dark;
}

.regular-navigation .pop {
  color: $light;
}

// .regular-navigation h1 .light a:hover, .regular-navigation h1 .pop a:hover {
//   color: $light;
// }

.regular-navigation h2 {
  color: $dark;
}

.regular-navigation h2 a:hover {
  color: $light;
}

.regular-navigation .active, .col-6 .active {
  color: $dark-grey;
  text-decoration: underline;
}

.col-6 p a:hover {
  color: $light;
}

.icon {
  width: 10%;
}

.subscribe-form {
  padding: 0px;
  width: 50%;
}

// [class*="counter"] span {
//   font-size: 25px;
//   position: absolute;
// }
