<% content_for(:title, "Flagrant Orange | Shows") %>
<%= render "shared/navigation" %>

<div class="row shows text-center">
  <% if @shows.any? %>
    <h2 class="active text-center">Upcoming</h2>
    <hr>
    <% @shows.each do |show| %>
      <%= render "shows/show", show: show %>
    <% end %>
  <% else %>
    <h2 class="active text-center">Check back soon for show dates!</h2>
  <% end %>
</div>
<div class="row shows">
  <%= image_tag "full_band_3.jpg", class: "regular-image" %>
</div>

<% if @past_shows.any? %>
  <div class="row shows text-center">
    <h2 class="active text-center">Past Shows</h2>
    <hr>
    <% @past_shows.each do |show| %>
      <%= render "shows/show", show: show %>
    <% end %>
  </div>
<% end %>
